
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page Turner</title>
    <meta name="viewport" content="width=device-width">
    @Styles.Render("~/Content/normalizeBook.css")
    @Styles.Render("~/Content/styleBook.css")
</head>
<body>
    <div class="book bound">
        <div class="pages">
            <div class="page">
                <h1></h1>
                <h2></h2>
            </div>
            <div class="page"><!--endpaper--></div>
            <div class="page"><!--endpaper--></div>
            <div class="page"><!--colophon--></div>
            <div class="page"><!--title--></div>
            <div class="page"><!--01--></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"><!--04--></div>
            <div class="page"><!--05--></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"><!--08--></div>
            <div class="page"></div>
            <div class="page"><!--10--></div>
            <div class="page"><!--11--></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"><!--15--></div>
            <div class="page"></div>
            <div class="page"><!--17--></div>
            <div class="page"></div>
            <div class="page"><!--19--></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page" id="redirect"><!--22--></div>
            <div class="page"></div>
            <div class="page"><!--24--></div>
            <div class="page"><!--endpaper--></div>
            <div class="page"><!--endpaper--></div>
            <div class="page"><!--backcover--></div>
        </div>
    </div>
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    @Scripts.Render("~/Scripts/indexBook.js")
    <audio src="~/Images/Book/BlueDestination.mp3" autoplay loop></audio>
</body>
</html>

