@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

@Styles.Render("~/Content/styleLogin.css")
@Scripts.Render("~/Scripts/prefixfree.min.js")
<audio src="~/Images/Login/ALTINA.mp3" autoplay loop></audio>
<div class="body"></div>
<div class="grad"></div>
<div class="col-md-5">
    <div class="header">
        <div> Revisa tu <span>email</span> </div>
    </div>
</div>
